    <!-- PORTFOLIO STARTS -->
    <section id="portfolio">
        <h3>PORTFOLIO</h3>
        <p>Some of my best projects so far...</p>
        <hr />
        <div>
            <article>
                <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="icon" />
                <h4>PERSONAL BLOG</h4>
                <p>A blog where I pen my own thoughts on programming</p>
            </article>

            <article>
                <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="icon" />
                <h4>TIC TAC TOE</h4>
                <p>Complete Tic Tac Toe game along with GUI using Java</p>
            </article>

            <article>
                <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="icon" />
                <h4>TIME TABLE GENERATOR</h4>
                <p>A web application for automatic time table generation</p>
            </article>
        </div>
    </section>
    <!-- PORTFOLIO ENDS -->