<header id="header">
    <div>
        <p>I BELIEVE IN</p>
        <h1>EAT (); SLEEP (); CODE (); REPEAT ();</h1>
    </div>
</header>

<!-- BIO SECTION STARTS-->
<section id="bio">
    <img src="./assets/profilePic.JPG" alt="picture" />
    <article>
        <h2>ProGrad 007</h2>
        <p>
            I am Computer Science graduate. My very first experience with
            coding is at my second semester of my under graduation. From there my
            journey with programming starts.
            <span class="break"></span>
            Basically I'm interested in playing with fonts and coloring names.
            This brings me to learn and play with HTML and CSS. From there I started building small webpages. This
            interest made
            me to pick up the web developer as my goal.
            <span class="break"></span>
            To achieve my goal it is the one and only oppurtunity for me to enroll
            in the Full Stack Developer course provided by FacePrep. It's sound
            good for me that in another few weeks I became a ProGrad.
        </p>

        <a href="#" class="link-button">Download My Resume</a>
    </article>
</section>
<!-- BIO SECTION ENDS -->